<app-header></app-header>
	<!--  about-page -->
	<div class="about">
		<div class="container"> 
			<h3 class="w3ls-title w3ls-title1">About Us</h3>
			<div class="about-text">	
				<p>                       Feel Fresh is a juice ordering and delivery company based in Bangalore, India. FeelFresh was inspired by the thought of providing a complete Juice ordering and delivery solution from the best neighbourhood juice centers. A single window for ordering from a wide range of Juice shops, we have our own exclusive fleet of delivery personnel to pickup orders from centers and deliver it to customers . Having our own fleet gives us the flexibility to offer customers a no minimum order policy on any shops and accept online payments for all partner centers that we work with. 
                                    Our delivery personnel carry one order at a time which ensures we get reliable and fast deliveries."</p> 
				<div class="ftr-toprow">
					<div class="col-md-4 ftr-top-grids">
						<div class="ftr-top-left">
							<i class="fa fa-truck" aria-hidden="true"></i>
						</div> 
						<div class="ftr-top-right">
							<h4>Delivery</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
						</div> 
						<div class="clearfix"> </div>
					</div> 
					<div class="col-md-4 ftr-top-grids">
						<div class="ftr-top-left">
							<i class="fa fa-user" aria-hidden="true"></i>
						</div> 
						<div class="ftr-top-right">
							<h4>User</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
						</div> 
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-4 ftr-top-grids">
						<div class="ftr-top-left">
							<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
						</div> 
						<div class="ftr-top-right">
							<h4>Select</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tempus justo ac </p>
						</div>
						<div class="clearfix"> </div>
					</div> 
					<div class="clearfix"> </div>
				</div> 
				<div class="clearfix"> </div>
			</div>
			<div class="history">
				<h3 class="w3ls-title">How does it work ?</h3>
				<p>
				The organizing Team with in the management have to  collaborate and achieve group goals together. Whole could have delivery team, Booked status, people who are assigned to them,Orders,booking, comments, tags and attached files and emails and juices ordered. More advanced systems support dependencies, recurrence, priority and complexity.  The market is saturated with to-do list of varying maturity and functionality. We also aim to clarify terms used by customer’s practitioners when juice is booked and till it gets delivered.<h3 class="w3ls-title">Our history</h3>
				<p>Xplore2web started up in 2013, and we’ve been on an epic ride ever since. From our beginnings as an Freelanceing consulting company to launching the website in 2014, we’ve tried to stay true to our core beliefs—Resposive and clean—and to deliver an exceptional experience for our clients in time.We hope that we will continue to be a part of Digital era.Upgrading the technologies frequently to stay connected to the digital era from Core till the advanced production based sites and applications.</p> 
			</div>
		</div>
	</div>
	<!-- //about-page --> 
<app-footer></app-footer>