<header></header>
<div class="login-page about">
    <!--<img class="login-w3img" src="../assets/images/img3.jpg" alt="">-->
    <div class="container"> 
        <h3 class="w3ls-title w3ls-title1">Login to your account</h3>  
        <div class="login-agileinfo"> 
            <form action="#" method="post"> 
                <input class="agile-ltext" type="Email" [(ngModel)]="forgotpassModel.email" name="email" placeholder="Email" required="">
                <div class="wthreelogin-text"> 
                    <ul> 
                        
                    </ul>
                    <div class="clearfix"> </div>
                </div>   
                <input (click)="submitEmail()" type="submit" value="Recover">
            </form>
            <p>Don't have an Account? <a [routerLink]="['/login']"> Login Now!</a></p> 
        </div>	 
    </div>
</div>
<!--<<div class="copyw3-agile"> 
    <div class="container">
        <p>&copy; 2017 Staple Food. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
</div>-->
<div class="copyright">

    <h2><span>&copy; feel fresh</span></h2>

</div>