<app-header></app-header>
<!-- products -->
	<div class="products">	 
		<div class="container">
			<div class="col-md-9 product-w3ls-right"> 
				<div class="product-top">
					<h4>Food Collection</h4>
					<ul> 
						<li class="dropdown head-dpdn">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter By<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Low price</a></li> 
								<li><a href="#">High price</a></li>
								<li><a href="#">Latest</a></li>  
							</ul> 
						</li>
						<li class="dropdown head-dpdn">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Food Type<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Breakfast</a></li> 
								<li><a href="#">Lunch</a></li>
								<li><a href="#">Dinner</a></li>  
							</ul> 
						</li>
					</ul> 
					<div class="clearfix"> </div>
				</div>
				<div class="products-row">
					<div class="col-xs-6 col-sm-4 product-grids">
						<div class="flip-container">
							<div class="flipper agile-products">
								<div class="front"> 
                                                                    <img src="../../assets/images/g6.jpg" class="img-responsive" alt="img">
									<div class="agile-product-text">              
										<h5>Fish salad</h5>  
									</div> 
								</div>
								<div class="back">
									<h4>Fish salad</h4>
									<p>Maecenas condimentum interdum lacus, ac varius nisl.</p>
									<h6>3<sup>$</sup></h6>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart">
										<input type="hidden" name="add" value="1"> 
										<input type="hidden" name="w3ls_item" value="Fish salad"> 
										<input type="hidden" name="amount" value="3.00"> 
										<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
										<span class="w3-agile-line"> </span>
										<a href="#" data-toggle="modal" data-target="#myModal1">More</a>
									</form>
								</div>
							</div>
						</div> 
					</div> 
					<div class="col-xs-6 col-sm-4 product-grids">
						<div class="flip-container">
							<div class="flipper agile-products">
								<div class="front"> 
									<div class="agile-product-text agile-product-text2">              
										<h5>Sandwich</h5>  
									</div> 
                                                                    <img src="../../assets/images/g1.jpg" class="img-responsive" alt="img"> 
								</div>
								<div class="back">
									<h4>Sandwich</h4>
									<p>Maecenas condimentum interdum lacus, ac varius nisl.</p>
									<h6>2<sup>$</sup></h6>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart">
										<input type="hidden" name="add" value="1"> 
										<input type="hidden" name="w3ls_item" value="Sandwich"> 
										<input type="hidden" name="amount" value="2.00"> 
										<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
										<span class="w3-agile-line"> </span>
										<a href="#" data-toggle="modal" data-target="#myModal1">More</a>
									</form>
								</div>
							</div>
						</div> 
					</div>
					<div class="col-xs-6 col-sm-4 product-grids">
						<div class="flip-container">
							<div class="flipper agile-products">
								<div class="front"> 
									<img src="../../assets/images/g3.jpg" class="img-responsive" alt="img">
									<div class="agile-product-text">              
										<h5>Indian Food</h5>  
									</div> 
								</div>
								<div class="back">
									<h4>Indian Food</h4>
									<p>Maecenas condimentum interdum lacus, ac varius nisl.</p>
									<h6>2<sup>$</sup></h6>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart">
										<input type="hidden" name="add" value="1"> 
										<input type="hidden" name="w3ls_item" value="Indian Food"> 
										<input type="hidden" name="amount" value="2.00"> 
										<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
										<span class="w3-agile-line"> </span>
										<a href="#" data-toggle="modal" data-target="#myModal1">More</a>
									</form>
								</div>
							</div>
						</div> 
					</div>
					<div class="col-xs-6 col-sm-6 product-grids">
						<div class="flip-container flip-container1">
							<div class="flipper agile-products">
								<div class="front"> 
									<div class="agile-product-text agile-product-text2">              
										<h5>Sandwich & soup</h5>  
									</div> 
									<img src="../../assets/images/g7.jpg" class="img-responsive" alt="img"> 
								</div>
								<div class="back">
									<h4>Sandwich & soup</h4>
									<p>Maecenas condimentum interdum lacus, ac varius nisl  condimentum interdum lacus, ac varius nisl.</p>
									<h6>5<sup>$</sup></h6>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart">
										<input type="hidden" name="add" value="1"> 
										<input type="hidden" name="w3ls_item" value="Sandwich & soup"> 
										<input type="hidden" name="amount" value="5.00"> 
										<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
										<span class="w3-agile-line"> </span>
										<a href="#" data-toggle="modal" data-target="#myModal1">More</a>
									</form>
								</div>
							</div>
						</div> 
					</div>
					<div class="col-xs-6 col-sm-6 product-grids">
						<div class="flip-container flip-container1">
							<div class="flipper agile-products">
								<div class="front"> 
									<img src="../../assets/images/g8.jpg" class="img-responsive" alt="img">
									<div class="agile-product-text">              
										<h5>Asia Meals</h5>  
									</div> 
								</div>
								<div class="back">
									<h4>Asia Meals</h4>
									<p>Maecenas condimentum interdum lacus, ac varius nisl  condimentum interdum lacus, ac varius nisl.</p>
									<h6>8<sup>$</sup></h6>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart">
										<input type="hidden" name="add" value="1"> 
										<input type="hidden" name="w3ls_item" value="Asia Meals"> 
										<input type="hidden" name="amount" value="8.00"> 
										<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
										<span class="w3-agile-line"> </span>
										<a href="#" data-toggle="modal" data-target="#myModal1">More</a>
									</form>
								</div>
							</div>
						</div> 
					</div> 
					<div class="col-xs-6 col-sm-4 product-grids">
						<div class="flip-container">
							<div class="flipper agile-products">
								<div class="front"> 
									<img src="../../assets/images/img1.jpg" class="img-responsive" alt="img">
									<div class="agile-product-text">              
										<h5>Bread Toast</h5>  
									</div> 
								</div>
								<div class="back">
									<h4>Bread Toast</h4>
									<p>Maecenas condimentum interdum lacus, ac varius nisl.</p>
									<h6>2<sup>$</sup></h6>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart">
										<input type="hidden" name="add" value="1"> 
										<input type="hidden" name="w3ls_item" value="Bread Toast"> 
										<input type="hidden" name="amount" value="2.00"> 
										<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
										<span class="w3-agile-line"> </span>
										<a href="#" data-toggle="modal" data-target="#myModal1">More</a>
									</form>
								</div>
							</div>
						</div> 
					</div>
					<div class="col-xs-6 col-sm-4 product-grids">
						<div class="flip-container">
							<div class="flipper agile-products">
								<div class="front"> 
									<div class="agile-product-text agile-product-text2">              
										<h5>Chinese Dish</h5>  
									</div> 
									<img src="../../assets/images/g2.jpg" class="img-responsive" alt="img"> 
								</div>
								<div class="back">
									<h4>Chinese Dish</h4>
									<p>Maecenas condimentum interdum lacus, ac varius nisl.</p>
									<h6>3<sup>$</sup></h6>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart">
										<input type="hidden" name="add" value="1"> 
										<input type="hidden" name="w3ls_item" value="Chinese Dish"> 
										<input type="hidden" name="amount" value="3.00"> 
										<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
										<span class="w3-agile-line"> </span>
										<a href="#" data-toggle="modal" data-target="#myModal1">More</a>
									</form>
								</div>
							</div>
						</div> 
					</div> 
					<div class="col-xs-6 col-sm-4 product-grids">
						<div class="flip-container">
							<div class="flipper agile-products">
								<div class="front"> 
									<img src="../../assets/images/g9.jpg" class="img-responsive" alt="img">
									<div class="agile-product-text">              
										<h5>Duck roast</h5>  
									</div> 
								</div>
								<div class="back">
									<h4>Duck roast</h4>
									<p>Maecenas condimentum interdum lacus, ac varius nisl.</p>
									<h6>7<sup>$</sup></h6>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart">
										<input type="hidden" name="add" value="1"> 
										<input type="hidden" name="w3ls_item" value="Duck roast"> 
										<input type="hidden" name="amount" value="7.00"> 
										<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
										<span class="w3-agile-line"> </span>
										<a href="#" data-toggle="modal" data-target="#myModal1">More</a>
									</form>
								</div>
							</div>
						</div> 
					</div>
					<div class="col-xs-6 col-sm-6 product-grids">
						<div class="flip-container flip-container1">
							<div class="flipper agile-products">
								<div class="front"> 
									<div class="agile-product-text agile-product-text2">              
										<h5>Sandwich & soup</h5>  
									</div> 
									<img src="../../assets/images/g5.jpg" class="img-responsive" alt="img"> 
								</div>
								<div class="back">
									<h4>Sandwich & soup</h4>
									<p>Maecenas condimentum interdum lacus, ac varius nisl  condimentum interdum lacus, ac varius nisl.</p>
									<h6>5<sup>$</sup></h6>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart">
										<input type="hidden" name="add" value="1"> 
										<input type="hidden" name="w3ls_item" value="Sandwich & soup"> 
										<input type="hidden" name="amount" value="5.00"> 
										<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
										<span class="w3-agile-line"> </span>
										<a href="#" data-toggle="modal" data-target="#myModal1">More</a>
									</form>
								</div>
							</div>
						</div> 
					</div>
					<div class="col-xs-6 col-sm-6 product-grids">
						<div class="flip-container flip-container1">
							<div class="flipper agile-products">
								<div class="front"> 
									<img src="../../assets/images/g4.jpg" class="img-responsive" alt="img">
									<div class="agile-product-text">              
										<h5>Rice & meat </h5>  
									</div> 
								</div>
								<div class="back">
									<h4>Rice & meat </h4>
									<p>Maecenas condimentum interdum lacus, ac varius nisl  condimentum interdum lacus, ac varius nisl.</p>
									<h6>6<sup>$</sup></h6>
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart">
										<input type="hidden" name="add" value="1"> 
										<input type="hidden" name="w3ls_item" value="Rice & meat "> 
										<input type="hidden" name="amount" value="6.00"> 
										<button type="submit" class="w3ls-cart pw3ls-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add to cart</button>
										<span class="w3-agile-line"> </span>
										<a href="#" data-toggle="modal" data-target="#myModal1">More</a>
									</form>
								</div>
							</div>
						</div> 
					</div> 
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="col-md-3 rsidebar">
				<div class="rsidebar-top">
					<div class="slider-left">
						<h4>CHOOSE BY AGE</h4>            
						<div class="row row1 scroll-pane">
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Kids</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Youngers</label>  
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Adults</label> 
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Senior Citizen</label>  
						</div> 
					</div>
					<div class="sidebar-row">
						<h4>By Cuisine</h4>
						<ul class="faq">
							<li class="item1"><a href="#">Indian Food<span class="glyphicon glyphicon-menu-down"></span></a>
								<ul>
									<li class="subitem1"><a href="#">Breakfast</a></li>										
									<li class="subitem1"><a href="#">Lunch</a></li>										
									<li class="subitem1"><a href="#">Dinner</a></li>										
									<li class="subitem1"><a href="#">Trending Food</a></li>										
								</ul>
							</li>
							<li class="item2"><a href="#">Italian Food<span class="glyphicon glyphicon-menu-down"></span></a>
								<ul>
									<li class="subitem1"><a href="#">Panzanella</a></li>										
									<li class="subitem1"><a href="#">Margherita Pizza </a></li>										
									<li class="subitem1"><a href="#">Panna Cotta</a></li>										
									<li class="subitem1"><a href="#">Corn Cannelloni</a></li>										
								</ul>
							</li>
							<li class="item3"><a href="#">American Food<span class="glyphicon glyphicon-menu-down"></span></a>
								<ul>
									<li class="subitem1"><a href="#">Sandwiches</a></li>										
									<li class="subitem1"><a href="#">Hot dog</a></li>										
									<li class="subitem1"><a href="#">Chicken bog</a></li>										
								</ul>
							</li>
						</ul>
						<div class="clearfix"> </div> 
						<!-- script for tabs -->
						<script type="text/javascript">
							$(function() {
							
								var menu_ul = $('.faq > li > ul'),
									   menu_a  = $('.faq > li > a');
								
								menu_ul.hide();
							
								menu_a.click(function(e) {
									e.preventDefault();
									if(!$(this).hasClass('active')) {
										menu_a.removeClass('active');
										menu_ul.filter(':visible').slideUp('normal');
										$(this).addClass('active').next().stop(true,true).slideDown('normal');
									} else {
										$(this).removeClass('active');
										$(this).next().stop(true,true).slideUp('normal');
									}
								});
							
							});
						</script>
						<!-- script for tabs -->
					</div>
					<div class="sidebar-row">
						<h4>DISCOUNTS</h4>
						<div class="row row1 scroll-pane">  
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>30% - 20% (2)</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>10% - 5% (5)</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>30% - 20% (7)</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>10% - 5% (2)</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Other(50)</label>
						</div>
					</div>
					<div class="sidebar-row">
						<h4>DELIVERY TIME</h4>
						<div class="row row1 scroll-pane">
							<label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>6.30 am to 8.30 am</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>11.30 am to 1.30 pm</label>
							<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>7.30 pm to 10.00 pm</label> 
						</div>
					</div>			 
				</div>
				<div class="related-row">
					<h4>Related Searches</h4>
					<ul>
						<li><a href="products.html">Salads </a></li>
						<li><a href="products.html">Vegetarian</a></li>
						<li><a href="products.html">Dinner</a></li>
						<li><a href="products.html">Diet Soup</a></li>
						<li><a href="products.html">Sweets</a></li>
						<li><a href="products.html">Seasonal</a></li>
						<li><a href="products.html">Breakfast</a></li>
						<li><a href="products.html">Italian Food</a></li>
						<li><a href="products.html">Meals</a></li> 
					</ul>
				</div>
				<div class="related-row">
					<h4>YOU MAY ALSO LIKE</h4>
					<div class="galry-like">  
						<a href="#" data-toggle="modal" data-target="#myModal1"><img src="../../assets/images/s1.jpg" class="img-responsive" alt="img"></a>         
					</div>
				</div>
			</div>
			<div class="clearfix"> </div> 
		</div>
	</div>
	<!-- //products --> 





<app-footer></app-footer>