<div class="login-page about">
    <img class="login-w3img" src="../../../assets/images/img3.jpg" alt="">
    <div class="container"> 
        <h3 class="w3ls-title w3ls-title1">Sign Up to your account</h3>  
        <div class="login-agileinfo"> 
            <form action="#" method="post"> 
                <input class="agile-ltext" type="text" name="Username" placeholder="Username" required="">
                <input class="agile-ltext" type="email" name="Your Email" placeholder="Your Email" required="">
                <input class="agile-ltext" type="password" name="password" placeholder="Password" required="">
                <input class="agile-ltext" type="password" name="Confirm Password" placeholder="Confirm Password" required="">
                <div class="wthreelogin-text"> 
                    <ul> 
                        <li>
                            <label class="checkbox"><input type="checkbox" name="checkbox"><i></i> 
                                <span> I agree to the terms of service</span> 
                            </label> 
                        </li> 
                    </ul>
                    <div class="clearfix"> </div>
                </div>   
                <input type="submit" value="Sign Up">
            </form>
            <p>Already have an account?  <a [routerLink]="['/login']"> Login Now!</a></p> 
            <p>SignUp  As Franchise?  <a [routerLink]="['/shopadmin']"> Sign up!</a></p>
        </div>	 
    </div>
</div>
<!-- //sign up-page -->  

<div class="copyw3-agile"> 
    <div class="container">
        <p>&copy; 2017 Staple Food. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
</div>