.file-upload {
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    background: #08cae2;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.6em;
    -webkit-appearance: none;
    width: 100%;
    margin: 1em 0;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    -webkit-appearance: button;
    cursor: pointer;
    /*background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Upload_alt_font_awesome.svg/512px-Upload_alt_font_awesome.svg.png") no-repeat;*/
  
}
.file-upload:hover {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.58);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.58);
    letter-spacing: 3px;
}

.copyright h2{
    display: inline-block;
    font-family: "Arial" !important;
    color: #f44336;
    font-size: 20px;
    text-align: center;
/*    text-transform: uppercase;*/
    width: 100%;
    position: relative;
}
.copyright h2 span {
    padding: 0px 10px;
    position: relative;
    z-index: 2;
}

.copyright {
    padding: 15px 40px;
}
.copyright h2:before{
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,#fd463e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff000000', endColorstr='#000000',GradientType=1 );
    left: 0;
}
.copyright h2:before, .copyright h2:after {
    display: block;
    height: 3px;
    content: " ";
    width: 43%;
    position: absolute;
    top: 0.53em;
    z-index: 1;
}
.copyright h2:after {
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, #f44336 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
    right: 0;
    left: auto;
}
