<div class="navigation agiletop-nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header w3l_logo">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>  
                    <h1><a href="index.html">Feel Fresh<span>Quick Juice</span></a></h1>
                </div> 
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a routerLinkActive="active" [routerLink]="['/home']">Verify Franchise</a></li>	
                        <!-- Mega Menu -->
                        <li class="w3pages"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View Reports <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="icons.html"> Daily reports</a></li>
                                <li><a href="codes.html"> Weekly Reports</a></li> 
                                <li><a href="icons.html"> Montly reports</a></li>    
                            </ul>
                        </li>  
                        <li><a [routerLink]="['/about']">About</a></li> 
                        
                        <li><a [routerLink]="['/contact']">Contact Us</a></li>
                    </ul>
                </div>
                
            </nav>
        </div>
    </div>
<div class="login-page about">
    <img class="login-w3img" src="../../../assets/images/img3.jpg" alt="">
        <div class="container"> 
            <h3 class="w3ls-title w3ls-title1">Add Franchise</h3>  
            <div class="login-agileinfo"> 
                <form action="#" method="post"> 
                    <input class="agile-ltext" type="text" name="Franchise name" placeholder="Username" required="">
                        <input class="agile-ltext" type="email" name="Franchise Email" placeholder="Your Email" required="">
                            <input class="agile-ltext" type="text" name="Location/landmark" placeholder="Location/landmark" required=""><br>
                                    <!--<input type="file" name="file-1[]" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple style="display: none;" />-->
                                    <label class="file-upload">
                                        <input style="display:none" id="file-1" type="file" name="Franchise Shop Picture"/>        
                                        <span>Upload Franchise license</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                            <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> 
                                    </label>
                                     <label class="file-upload">
                                        <input style="display:none" id="file-2" type="file" name="Franchise Shop Picture"/>        
                                        <span>Upload Shop Photo</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                            <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> 
                                    </label>
                                    <!--                                    <label class="file-upload">Upload Franchise license 
                                                                            <input style="display:none" id="file-1" type="file" name="Franchise Shop Picture"/>        
                                                                        </label>
                                                                        <label class="file-upload">Upload Shop Photo
                                                                            <input style="display:none" class="agile-ltext" type="file" name="Franchise Aggrement" >
                                                                        </label>-->
                                    <div class="wthreelogin-text"> 
                                        <ul> 
                                            <li>
                                                <label class="checkbox"><input type="checkbox" name="checkbox"><i></i> 
                                                        <span> I agree to the terms of service</span> 
                                                </label> 
                                            </li> 
                                        </ul>
                                        <div class="clearfix"> </div>
                                    </div>   
                                    <input type="submit" value="Save Details">
                                        </form>
                                       
                                        </div>	 
                                        </div>
                                        </div>
                                        <!-- //sign up-page -->  
                                        <div class="copyw3-agile"> 
                                            <div class="container">
                                                <p>&copy; 2017 feel fresh. All rights reserved </p>
                                            </div>
                                        </div>