<div class="header">
    <div class="w3ls-header"><!-- header-one --> 
        <div class="container">
            <div class="w3ls-header-left">
                <p>Free home delivery at your doorstep For Above Rs.50/-</p>
            </div>
            <div class="w3ls-header-right">
                <ul> 
                    <li class="head-dpdn">
                        <i class="fa fa-phone" aria-hidden="true"></i> Call us: +01 222 33345 
                    </li> 
                    <li class="head-dpdn">
                        <a routerLinkActive="active" [routerLink]="['/login']"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
                    </li> 
                    <li class="head-dpdn">
                        <a routerLinkActive="active" [routerLink]="['/signup']"><i class="fa fa-user-plus" aria-hidden="true"></i> Signup</a>
                    </li> 
                    <li class="head-dpdn">
                        <a href="offers.html"><i class="fa fa-gift" aria-hidden="true"></i> Offers</a>
                    </li> 
                    <li class="head-dpdn">
                        <a href="help.html"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div> 
        </div>
    </div>
    <!-- //header-one -->    
    <!-- navigation -->
    <div class="navigation agiletop-nav">
        <div class="container">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header w3l_logo">
                    <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>  
                    <h1><a href="index.html">Feel Fresh<span>Quick Juice</span></a></h1>
                </div> 
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a routerLinkActive="active" [routerLink]="['/home']">Home</a></li>	
                        <!-- Mega Menu -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3" >
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown" [routerLink]="['/menu']">
                                            <h6>Food type</h6>  
                                            <li><a style="cursor: pointer">Breakfast</a></li> 
                                            <li><a style="cursor: pointer">Lunch</a></li> 
                                            <li><a style="cursor: pointer">Dinner</a></li> 
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown" [routerLink]="['/menu']">
                                            <h6>Cuisine</h6> 
                                            <li><a style="cursor: pointer">Indian Recipes</a></li> 
                                            <li><a style="cursor: pointer">American Recipes</a></li> 
                                            <li><a style="cursor: pointer">French Recipes</a></li> 
                                            <li><a style="cursor: pointer">Italian Recipes</a></li> 
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown" [routerLink]="['/menu']">
                                            <h6>Box type</h6> 
                                            <li><a style="cursor: pointer">Diet</a></li> 
                                            <li><a style="cursor: pointer">Mini</a></li> 
                                            <li><a style="cursor: pointer">Regular</a></li> 
                                            <li><a style="cursor: pointer">Special</a></li> 
                                        </ul>
                                    </div> 
                                    <div class="clearfix"></div>
                                </div>
                            </ul>
                        </li>
                        <li><a [routerLink]="['/about']">About</a></li> 
                        <li class="w3pages"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="icons.html">Web Icons</a></li>
                                <li><a href="codes.html">Short Codes</a></li>     
                            </ul>
                        </li>  
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="cart cart box_1"> 
                    <form action="#" method="post" class="last"> 
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="display" value="1" />
                        <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                    </form>   
                </div> 
            </nav>
        </div>
    </div>
    
    <!-- //navigation --> 
</div>
<!--dishes slider 
	<div class="w3agile-spldishes">
		<div class="container">
			<h3 class="w3ls-title">Special Foods</h3>
			<div class="spldishes-agileinfo">
				<div class="col-md-3 spldishes-w3left">
					<h5 class="w3ltitle">Staple Specials</h5>
					<p>Vero vulputate enim non justo posuere placerat Phasellus mauris vulputate enim non justo enim .</p>
				</div> 
				<div class="col-md-9 spldishes-grids">
					 Owl-Carousel 
					<div id="owl-demo" class="owl-carousel text-center agileinfo-gallery-row">
						<a href="products.html" class="item g1">
							<img class="lazyOwl" src="../../../assets/images/g1.jpg" title="Our latest gallery" alt=""/>
							<div class="agile-dish-caption">
								<h4>Duis congue</h4>
								<span>Neque porro quisquam est qui dolorem </span>
							</div>
						</a>
						<a href="products.html" class="item g1">
							<img class="lazyOwl" src="../../../assets/images/g2.jpg" title="Our latest gallery" alt=""/>
							<div class="agile-dish-caption">
								<h4>Duis congue</h4>
								<span>Neque porro quisquam est qui dolorem </span>
							</div>
						</a>
						<a href="products.html" class="item g1">
							<img class="lazyOwl" src="../../../assets/images/g3.jpg" title="Our latest gallery" alt=""/>
							<div class="agile-dish-caption">
								<h4>Duis congue</h4>
								<span>Neque porro quisquam est qui dolorem </span>
							</div>
						</a>
						<a href="products.html" class="item g1">
							<img class="lazyOwl" src="../../../assets/images/g4.jpg" title="Our latest gallery" alt=""/>
							<div class="agile-dish-caption">
								<h4>Duis congue</h4>
								<span>Neque porro quisquam est qui dolorem </span>
							</div>
						</a>
						<a href="products.html" class="item g1">
							<img class="lazyOwl" src="../../../assets/images/g5.jpg" alt=""/>
							<div class="agile-dish-caption">
								<h4>Duis congue</h4>
								<span>Neque porro quisquam est qui dolorem </span>
							</div>
						</a> 
						<a href="products.html" class="item g1">
							<img class="lazyOwl" src="../../../assets/images/g1.jpg" title="Our latest gallery" alt=""/>
							<div class="agile-dish-caption">
								<h4>Duis congue</h4>
								<span>Neque porro quisquam est qui dolorem </span>
							</div>
						</a>
						<a href="products.html" class="item g1">
							<img class="lazyOwl" src="../../../assets/images/g2.jpg" title="Our latest gallery" alt=""/>
							<div class="agile-dish-caption">
								<h4>Duis congue</h4>
								<span>Neque porro quisquam est qui dolorem </span>
							</div>
						</a>
						<a href="products.html" class="item g1">
							<img class="lazyOwl" src="../../../assets/images/g3.jpg" title="Our latest gallery" alt=""/>
							<div class="agile-dish-caption">
								<h4>Duis congue</h4>
								<span>Neque porro quisquam est qui dolorem </span>
							</div>
						</a>
					</div> 
				</div>  
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--dishes slider -->